* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  background: #fff;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: auto;
  padding: 0 15px;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  font-weight: normal;
  line-height: 1.5;
  color: #333;
  white-space: nowrap;
}

/*----Header-----*/
header {
  position: relative;
  /***** Header top ****/
  /***** Header content ****/
  /*---- Header menu ----*/
}

header .header-top {
  height: 40px;
  line-height: 24px;
  color: #444;
  padding: 8px 0;
}

header .header-top .header-top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-top .header-top__container .header-top-left,
header .header-top .header-top__container .header-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-top .header-top__container .header-top-left > a,
header .header-top .header-top__container .header-top-right > a {
  color: #444;
}

header .header-top .header-top__container .header-top-left .separator,
header .header-top .header-top__container .header-top-right .separator {
  width: 1px;
  height: 21px;
  background: #c4c4c4;
  display: inline-block;
  margin: 0 10px;
}

header .header-top .header-top__container .header-top-left .header-top-social,
header .header-top .header-top__container .header-top-right .header-top-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-top .header-top__container .header-top-left .header-top-social .facebook,
header .header-top .header-top__container .header-top-left .header-top-social .insta,
header .header-top .header-top__container .header-top-right .header-top-social .facebook,
header .header-top .header-top__container .header-top-right .header-top-social .insta {
  font-size: 16px;
  margin-right: 10px;
  color: #000;
}

header .header-top .header-top__container .header-top-left .header-language,
header .header-top .header-top__container .header-top-left .header-account,
header .header-top .header-top__container .header-top-right .header-language,
header .header-top .header-top__container .header-top-right .header-account {
  position: relative;
  margin-left: 30px;
  cursor: pointer;
  display: block;
  z-index: 100;
}

header .header-top .header-top__container .header-top-left .header-language:active .dropdown-menu,
header .header-top .header-top__container .header-top-left .header-account:active .dropdown-menu,
header .header-top .header-top__container .header-top-right .header-language:active .dropdown-menu,
header .header-top .header-top__container .header-top-right .header-account:active .dropdown-menu {
  display: block;
}

header .header-top .header-top__container .header-top-left .header-language .header-account__trigger,
header .header-top .header-top__container .header-top-left .header-account .header-account__trigger,
header .header-top .header-top__container .header-top-right .header-language .header-account__trigger,
header .header-top .header-top__container .header-top-right .header-account .header-account__trigger {
  color: rgba(0, 0, 0, 0.4);
  padding: 3px 5.38px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

header .header-top .header-top__container .header-top-left .header-language .dropdown-menu,
header .header-top .header-top__container .header-top-left .header-account .dropdown-menu,
header .header-top .header-top__container .header-top-right .header-language .dropdown-menu,
header .header-top .header-top__container .header-top-right .header-account .dropdown-menu {
  display: none;
  top: 100%;
  position: absolute;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  text-align: left;
  font-size: 14px;
}

header .header-top .header-top__container .header-top-left .header-language .dropdown-menu > li > a,
header .header-top .header-top__container .header-top-left .header-account .dropdown-menu > li > a,
header .header-top .header-top__container .header-top-right .header-language .dropdown-menu > li > a,
header .header-top .header-top__container .header-top-right .header-account .dropdown-menu > li > a {
  padding: 3px 20px;
}

header .header-top .header-top__container .header-top-left .header-language .dropdown-menu > li > a:hover,
header .header-top .header-top__container .header-top-left .header-account .dropdown-menu > li > a:hover,
header .header-top .header-top__container .header-top-right .header-language .dropdown-menu > li > a:hover,
header .header-top .header-top__container .header-top-right .header-account .dropdown-menu > li > a:hover {
  background-color: rgba(196, 196, 196, 0.3);
}

header .header-top .header-top__container .header-top-left .header-language .header-account__content,
header .header-top .header-top__container .header-top-left .header-language .header-language__content,
header .header-top .header-top__container .header-top-left .header-account .header-account__content,
header .header-top .header-top__container .header-top-left .header-account .header-language__content,
header .header-top .header-top__container .header-top-right .header-language .header-account__content,
header .header-top .header-top__container .header-top-right .header-language .header-language__content,
header .header-top .header-top__container .header-top-right .header-account .header-account__content,
header .header-top .header-top__container .header-top-right .header-account .header-language__content {
  right: 0;
  margin-top: 7px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

header .header-top .header-top__container .header-top-left .header-language::after,
header .header-top .header-top__container .header-top-right .header-language::after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

header .header-content {
  background: #000;
  padding: 10px 0;
}

header .header-content .header-content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-content .header-content__container .header-logo {
  width: 180px;
  min-width: 180px;
  padding-right: 20px;
}

header .header-content .header-content__container .header-logo img {
  width: 100%;
}

header .header-content .header-content__container .header-search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-content .header-content__container .header-search .header-search__category {
  position: relative;
}

header .header-content .header-content__container .header-search .header-search__category .header-search__category-trigger {
  background: #efefef;
  border-radius: 5px 0 0 5px;
  display: block;
  padding-left: 10px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  width: 74px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 74px;
  padding-right: 18px;
  color: #000;
  position: relative;
  cursor: pointer;
}

header .header-content .header-content__container .header-search .header-search__category .header-search__category-trigger::after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-left: 20px;
}

header .header-content .header-content__container .header-search .header-search__category.header-search__category:hover .dropdown-menu {
  display: block;
}

header .header-content .header-content__container .header-search .header-search__category .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

header .header-content .header-content__container .header-search .header-search__category .dropdown-menu.header-search__category-content {
  width: 200px;
  overflow-y: auto;
  background: #fff;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 7px;
  font-size: 14px;
  line-height: 16px;
}

header .header-content .header-content__container .header-search .header-search__category .dropdown-menu.header-search__category-content a {
  line-height: 16px;
  color: #000;
  padding: 5px 10px 5px 26px;
}

header .header-content .header-content__container .header-search .header-search__category .dropdown-menu.header-search__category-content a:hover {
  background: rgba(196, 196, 196, 0.2);
}

header .header-content .header-content__container .header-search .header-search__control {
  width: 100%;
}

header .header-content .header-content__container .header-search .header-search__control .form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  background-color: #fff;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-radius: 0;
  color: #555;
  font-size: 14px;
}

header .header-content .header-content__container .header-search .header-search__action .btn {
  height: 40px;
  background: #e9b02a;
  border-radius: 0px 5px 5px 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  width: 53px;
  min-width: 53px;
}

header .header-content .header-content__container .header-search .header-search__action .btn .search {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}

header .header-content .header-content__container .header-cart {
  width: 180px;
  min-width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-content .header-content__container .header-cart:active .minicart {
  display: block;
}

header .header-content .header-content__container .header-cart .header-cart-icon {
  color: #fff;
  position: relative;
  font-size: 24px;
  cursor: pointer;
}

header .header-content .header-content__container .header-cart .header-cart-icon .header-cart-count {
  position: absolute;
  top: -3px;
  left: -8px;
  font-size: 10px;
  background: #e7900e;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
}

header .header-content .header-content__container .header-cart .minicart {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 40px;
  background: rgba(0, 0, 0, 0.3);
}

header .header-content .header-content__container .header-cart .minicart .minicart-wrapper {
  position: absolute;
  top: 40px;
  right: 40px;
  background: #fff;
  width: 484px;
  max-height: 100%;
}

header .header-content .header-content__container .header-cart .minicart .minicart-wrapper .minicart-header {
  border-bottom: 1px solid #c4c4c4;
  padding: 17px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-content .header-content__container .header-cart .minicart .minicart-wrapper .minicart-header .title {
  font-weight: 500;
  font-size: 16px;
}

header .header-content .header-content__container .header-cart .minicart .minicart-wrapper .minicart-header .close {
  font-size: 20px;
  padding: 0 10px;
}

header .header-content .header-content__container .header-cart .minicart .minicart-wrapper .minicart-content {
  overflow-y: auto;
}

header .header-content .header-content__container .header-cart .minicart .minicart-wrapper .minicart-content p {
  padding: 10px 0;
  text-align: center;
  margin: 0 0 10px;
}

header .header-menu {
  position: relative;
}

header .header-menu .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-menu .menu-items > li a {
  line-height: 65px;
}

header .header-menu .menu-items .menu-item-list > a {
  color: #e9b02a;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #e9b02a;
}

header .header-menu .menu-items .menu-item-list:hover .submenu {
  display: block;
}

header .header-menu .menu-items .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: -3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #fff;
}

header .header-menu .menu-items .submenu a {
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  color: #333;
}

header .header-menu .menu-items .submenu li {
  margin-bottom: 6px;
}

header .header-menu .menu-items .submenu .submenu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-menu .menu-items .submenu .submenu__container .submenu-col {
  padding: 20px 20px 35px;
}

header .header-menu .menu-items .submenu .submenu__container .submenu-col .submenu-title {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  margin-bottom: 5px;
}

header .header-menu .menu-items .submenu .submenu__container .submenu-col li:hover a {
  color: #e9b02a;
}

header .header-menu .menu-items .menu-item__right a {
  font-size: 16px;
  color: #e10b0b;
  font-weight: bold;
}

header .header-menu .menu-items .menu-item__right a:hover {
  color: #e7900e;
  border-bottom: 2px solid #e7900e;
}

/*--- Main ---*/
main .banner-thumb img {
  max-width: 100%;
}

main .slide-banner {
  margin-bottom: 26px;
  position: relative;
}

main .slide-banner .slide-banner__click {
  position: relative;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

main .slide-banner .click-arrow {
  font-size: 16px;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

main .slide-banner .click-arrow:hover {
  background-color: #e9b02a;
  color: #fff;
}

main .slide-banner .click-prev {
  left: 0;
  top: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .slide-banner .click-next {
  right: 0;
  top: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

main .slide-banner .slide-img img {
  width: 100%;
}

main .home-product-hot {
  background: #f5f5f5;
  padding: 40px 0 50px;
  margin-bottom: 30px;
}

main .home-product-hot .product-heading {
  margin-bottom: 50px;
  text-align: center;
}

main .home-product-hot .product-heading .title {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  margin: 0 0 10px;
}

main .home-product-hot .product-heading .btn {
  display: inline-block;
  background: #e9b02a;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  padding: 11.5px 98px;
}

main .home-product-hot .product-heading .btn:hover {
  background-color: #f0ca6f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .home-product-hot .product-content {
  overflow: hidden;
}

main .home-product-hot .product-content .click-arrow .fa-chevron-left,
main .home-product-hot .product-content .click-arrow .fa-chevron-right {
  background: rgba(0, 0, 0, 0.2);
  font-size: 20px;
  padding: 15px;
  border-radius: 50%;
}

main .home-product-hot .product-content .product-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
}

main .home-product-hot .product-content .product-list .product-list__item {
  width: 20%;
}
/*# sourceMappingURL=style.css.map */